<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Customer</title>
</head>
<body>
<div>
    <div>
        <a href="/customer/create-form">add customer</a>
    </div>
    <table>
        <thead>
        <td>ID</td>
        <td>NAME</td>
        <td>PHONE</td>
        </thead>
        <tbody th:each="customer : ${customers}">
            <td th:text="${customer.getId()}"></td>
            <td th:text="${customer.getName()}"></td>
            <td th:text="${customer.getPhoneNumber()}"></td>
        </tbody>
    </table>
</div>
</body>
</html>